.container {
    margin: 0 auto;
}

.products-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-content .list-products {
    background-color: bisque;
}

.products-content .list-products .product{
    width: 24.25%;
    float: left;
    margin: 20px 1% 20px 0;
    background-color: aquamarine;
}

.products-content .list-products .product:nth-child(4n) {
    margin-right: 0;
}



