<footer class="footer">
  <div class="container footer-content">
    <div>
      <div class="info">
        <h3>Funiro.</h3>
        <p>400 University Drive Suite 200 Coral <br>Gables, <br>FL 33134 USA</p>
      </div>
      <div class="links">
        <dl>
          <dt>Links</dt>
          <dd><a href="">Home</a></dd>
          <dd><a href="">Shop</a></dd>
          <dd><a href="">About</a></dd>
          <dd><a href="">Contact</a></dd>
        </dl>
        <dl>
          <dt>Help</dt>
          <dd><a href="">Payment Options</a></dd>
          <dd><a href="">Returs</a></dd>
          <dd><a href="">Privacy Policies</a></dd>
        </dl>
      </div>
      <div class="newsletter">
        <h3>Newsletter</h3>
        <input type="text" placeholder="Enter Your Email Address">
        <button>Subscribe</button>
      </div>
    </div>
    <div class="copyright">
      <p>© 2024 <a href="#">furino</a>. All rights reverved.</p>
    </div>
  </div>
</footer>
