<header class="header">
  <div class="container header-content">
    <div class="logo">
      <a href="">
        <img src="img/logo.svg" alt="">
        <span>Furniro</span>
      </a>
    </div>
    <nav class="navbar">
      <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/shop">Shop</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
    <ul class="icon-nav">
      <li>
        <a href="">
          <span class="iconify" data-icon="mdi:account-alert-outline"></span>
        </a>
      </li>
      <li>
        <a href=""><span class="iconify" data-icon="akar-icons:search"></span></a>
      </li>
      <li>
        <a href=""><span class="iconify" data-icon="mdi:heart-outline"></span></a>
      </li>
      <li>
        <a href=""><span class="iconify" data-icon="mdi:cart-outline"></span></a>
      </li>
    </ul>
  </div>
</header>
