<section class="ranges">
    <h3>Brows The Range</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="container ranges-content">
        <div class="range">
            <a href=""><img src="img/range-1.png" alt=""></a>
            <h5>Dining</h5>
        </div>
        <div class="range">
            <a href=""><img src="img/range-2.png" alt=""></a>
            <h5>Living</h5>
        </div>
        <div class="range">
            <a href=""><img src="img/range-3.png" alt=""></a>
            <h5>Bedroom</h5>
        </div>
    </div>
</section>
